<ion-view view-title="Create a Category">
  <ion-content class="padding has-header">
    
    <form name="categoryCreateForm" novalidate="" 
      ng-submit="categoryCreate(categoryCreateForm)" class="list card no-margin">

      <ion-input class="item item-input item-stacked-label"
        ng-class="{ 'has-errors' : categoryCreateForm.name.$invalid && categoryCreateForm.$submitted,
        'no-errors' : categoryCreateForm.name.$valid && categoryCreateForm.$submitted}">
        <ion-label >Name <span class="required-mark">*</span></ion-label>
        <input type="text" name="name" placeholder="What's the name of this category?" ng-model="data.name" required>
      </ion-input>

      <div class="error-container" ng-show="categoryCreateForm.name.$error && categoryCreateForm.$submitted"
        ng-messages="categoryCreateForm.name.$error">
        <div class="error" ng-message="required">
          <i class="ion-information-circled"></i>
          This field is required.
        </div>
      </div>

      <ion-input class="item item-input item-stacked-label" >
        <ion-label >Description</ion-label>
        <textarea name="description" placeholder="What's the name of this category?" ng-model="data.description"></textarea>
      </ion-input>

      <ion-input class="item-input padding">
        <input type="submit" class="button button-positive" value="Create Category"
          ng-disabled="categoryCreateForm.$invalid && categoryCreateForm.$submitted">
      </ion-input>

    </form>

  </ion-content>
</ion-view>
