<ion-view view-title="Change your Password">
	<ion-content class="has-header padding">

		<form name="changePasswordForm" novalidate="" ng-submit="changePassword(changePasswordForm)"
      class="list card no-margin">

			<ion-input class="item item-input item-stacked-label"
				ng-class="{ 'has-errors' : changePasswordForm.oldPassword.$invalid && changePasswordForm.$submitted,
        'no-errors' : changePasswordForm.oldPassword.$valid && changePasswordForm.$submitted}">
				<ion-label >Old Password</ion-label>
				<input type="password" name="oldPassword" placeholder="Your last password"
          ng-model="data.oldPassword" required />
			</ion-input>

			<div class="error-container last-error-container"
        ng-show="changePasswordForm.oldPassword.$error && changePasswordForm.$submitted"
				ng-messages="changePasswordForm.oldPassword.$error">
				<div class="error" ng-message="required">
		      <i class="ion-information-circled"></i>
		      This field is required
		    </div>
			</div>

			<ion-input class="item item-input item-stacked-label"
				ng-class="{ 'has-errors' : changePasswordForm.newPassword.$invalid && changePasswordForm.$submitted,
          'no-errors' : changePasswordForm.newPassword.$valid && changePasswordForm.$submitted}">
				<ion-label >New Password</ion-label>
				<input type="password" name="newPassword" placeholder="Your new password"
          ng-model="data.newPassword" required />
			</ion-input>

			<div class="error-container last-error-container"
        ng-show="changePasswordForm.newPassword.$error && changePasswordForm.$submitted"
				ng-messages="changePasswordForm.newPassword.$error">
				<div class="error" ng-message="required">
		      <i class="ion-information-circled"></i>
		      This field is required
		    </div>
			</div>

			<ion-input class="item-input padding">
				<input type="submit" class="button button-positive" value="Change Password"
          ng-disabled="changePasswordForm.$invalid && changePasswordForm.$submitted">
			</ion-input>

		</form>

	</ion-content>
</ion-view>
